
*.o

cdctest/cdctest/Debug/bin/cdctest.elf

cdctest/cdctest/Debug/bin/cdctest.bin

cdctest/cdctest/Debug/bin/cdctest.hex

cdctest/cdctest/Debug/bin/cdctest.map

cdctest/cdctest/Debug/bin/history.xml

cdctest/cdctest/Debug/obj/history.xml
*.log
hidtest/hidtest/Debug/bin/hidtest.map
hidtest/hidtest/Debug/bin/hidtest.bin
hidtest/hidtest/Debug/bin/hidtest.hex
hidtest/hidtest/Debug/bin/hidtest.elf
